h1{
	text-align: center;
}

.snail{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 5%;
}

.snail:hover{
	transform: scale(1.2);
	transition: 1s;
}

.text{
	margin-top: 5%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}